td {
  font-size: medium;
}

th {
  font-size: small;
}

.table-header {
  font-size: small;
}

filter {
  height: 10px;
}

span {
  font-size: 34px;
}

p {
  width: 300px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spinner {
  padding: 20%;
  padding-left: 44%;
}

.table-header {
  display: flex;
  justify-content: space-between;
}

.action {
  padding-left: 25%;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
}
