<app-admin-menu></app-admin-menu>

<ng-container *ngIf="isLoading">
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

<div class="card pl-5" *ngIf="!isLoading">
  <p-table #dt [value]="exams" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['examDate', 'status' ]" [reorderableColumns]="true" sortField="examDate" [sortOrder]="-1">

    <ng-template pTemplate="caption">
      <div class="row table-header">
        <div class="col" style="margin-top: 0.5%;">
          <span>Manage Exams</span>
        </div>
        <div class="col action" >
          <div style="float: right;">
            <p-button icon="pi pi-plus" pTooltip="Schedule New Exam" tooltipPosition="bottom" routerLink="/exams-add" label="Schedule"></p-button>
          </div>

          <span style="margin-left: 3%;" class="p-input-icon-left ms-4">
            <i class="pi pi-search"></i>
            <input pInputText type="text" id="search" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Global Search" />
          </span>
          <button style="margin-left: 3%;" pButton label="Clear" class="p-button-outlined ms-4" icon="pi pi-filter-slash"
            (click)="clear(dt)"></button>
        </div>
      </div>
    </ng-template>

    <!-- <ng-template pTemplate="colgroup">
      <colgroup>
        <col [style.width]="'200px'">
        <col [style.width]="'200px'">
        <col [style.width]="'200px'">
        <col [style.width]="'150px'">
        <col [style.width]="'100px'">

      </colgroup>
    </ng-template> -->

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="examDate">Exam Date <p-sortIcon field="examDate"></p-sortIcon>
        </th>
        <th pSortableColumn="presentCandidates">Present Candidates <p-sortIcon field="presentCandidates"></p-sortIcon>
        </th>
        <th pSortableColumn="absentCandidates">Absent Candidates <p-sortIcon field="absentCandidates"></p-sortIcon>
        </th>
        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th>Actions</th>

      </tr>
      <tr class="filter">
        <th style="width: 300px;">
          <p-columnFilter type="text" field="examDate"></p-columnFilter>
        </th>
        <!-- <th>
          <p-columnFilter type="text" field="examDate" >
               <ng-template pTemplate="filter" let-filter="filterCallback">
                  <p-calendar  dateFormat="yy-mm-dd"
                  #calendar  (onSelect)="filter(calendar.value)"
                  ></p-calendar>
               </ng-template>
          </p-columnFilter>
       </th> -->
        <th >
          <!-- <p-columnFilter type="text" field="presentCandidates"></p-columnFilter> -->
        </th>
        <th >
          <!-- <p-columnFilter type="text" field="absentCandidates"></p-columnFilter> -->
        </th>
        <th style="width: 300px;">
          <p-columnFilter type="text" field="status"></p-columnFilter>
        </th>
        <th></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-exam>
      <tr>
        <td>{{exam.examDate | date: 'dd-MMM-yyyy'}}</td>
        <td>
          {{exam.presentCandidates.length}}&nbsp;
          <button pTooltip="View Present Candidates" tooltipPosition="bottom" class="btn btn-primary"
            (click)="openDialog(exam.id,exam.presentCandidates)" [disabled]="exam.presentCandidates.length == 0"><i
              class="fa fa-solid fa-list"></i></button>
        </td>
        <td>
          {{exam.absentCandidates.length}}&nbsp;
          <button pTooltip="View Absent Candidates" tooltipPosition="bottom" class="btn btn-danger"
            (click)="openDialog(exam.id,exam.absentCandidates)" [disabled]="exam.absentCandidates.length == 0"><i
              class="fa fa-solid fa-list"></i></button>
        </td>
        <td>{{exam.status}}</td>
        <td>
          <button pTooltip="Reschedule Exam" tooltipPosition="bottom" class="btn btn-warning"
            (click)="openRescheduleDialog(exam.id)">
            <i class="fa fa-pencil-square-o " style="scale: 2.0;"></i>
          </button>
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No exams found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
