/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('~/src/assets/images/222.avif') ;
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  

  /* height: 10%; */
}


